.videoFooter {
  position: relative;
  /* set from bottom of the screen */
  bottom: 150px;
  margin-left: 30px;
  color: white;
  display: flex;
}

.videoFooter__text {
  flex: 1;
  padding-left: 10px;
}

.videoFooter__disc {
  content: url('../../assets/better-disc.png');
  animation: spinTheDisc infinite 5s linear;
  height: 50px;
  padding-top: 10px;
  margin-right: 30px;
  bottom: 0;
  position: absolute;
  right: -10px;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__text > p {
  padding-bottom: 15px;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__ticker p {
  padding-top: 7px;
}

.videoFooter__icon {
  position: absolute;
}

@keyframes spinTheDisc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
