.videoFooter {
  position: relative;
  /* set from bottom of the screen */
  bottom: 100px;
  color: white;
  display: flex;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__disc {
  content: url('../../assets/better-disc.png');
  animation: spinTheDisc infinite 5s linear;
  height: 50px;
}

@keyframes spinTheDisc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
